<!-- <p>usuarios-crear works!</p> -->
<app-modal>
    <h2>{{title}}</h2>
    <form class="row g-3" (ngSubmit)="onSubmit($event)">
        <div class="col-md-6">
            <label class="form-label" for="name">USUARIO</label>
            <input [(ngModel)]="formData.username" required class="form-control" type="text" id="name" name="name"
            placeholder="Ingrese un usuario formato de correo">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="password">CONTRASEÑA</label>
            <input [(ngModel)]="formData.password" required class="form-control" type="password" id="password" name="password"
            placeholder="Ingrese una contraseña">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="role">ROL</label>
            <select id="role" name="rol_id" [(ngModel)]="formData.role_id" required class="form-control">
                <option value="" disabled selected>Selecciona un rol</option>
                <option *ngFor="let rol of roles" [value]="rol.role_id">{{rol.name}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" [routerLink]="['/usuarios']">CANCELAR</button>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">CREAR USUARIO</button>
        </div>
    </form>
</app-modal>