<!-- <p>usuarios works!</p> -->
<div  class="table-container">
  <div class="botones-tabla">
    <app-button></app-button>
    <button [routerLink]="['/usuarios/usuarios-crear']" class="btn btn-primary">Agregar un Usuario</button>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>USUARIO</th>
          <th>ROL ASOCIADO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let usuario of usuarios, let i = index">
              <td>{{i+1}}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.role_id.name }}</td>
              <td>
                <button class="btn btn-primary" (click)="onEditUser(usuario.user_id)">Editar</button>
                <button class="btn btn-primary">Ver</button>
              </td>
            </tr>
      </tbody>
    </table>
  </div>
</div>