<!-- <p>reportes-consultas works!</p> -->
<div  class="table-container">
    <div class="botones-tabla">
      <!-- <app-button></app-button> -->
      <button (click)="goBack()" class="btn btn-primary">Regresar</button>
    </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>MOTIVO DE LA CONSULTA</th>
          <th>FECHA DE LA CONSULTA</th>
          <th>IDENTIFICACIÓN</th>
          <th>NOMBRES DE PACIENTE</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consul of consultas, let i = index">
              <td>{{i+1}}</td>
              <td>{{ consul.motive_id.name }}</td>
              <td>{{ formatDate(consul.date_consultation) }}</td>
              <td>{{ consul.patient_id.identification }}</td>
              <td>{{ consul.patient_id.first_name }} {{ consul.patient_id.lastame }}</td>
              <td>
                <button class="btn btn-primary">Ver</button>
              </td>
            </tr>
      </tbody>
    </table>
  </div>
</div>