<!-- <p>receta works!</p> -->
<app-modal>
    <h2>{{title}}</h2>
    <form class="row g-3" (ngSubmit)="onSubmit($event)">
        <div class="col-md-8">
            <label class="form-label" for="role">SELECCIONE EL DIAGNÓSTICO</label>
            <select id="role" name="rol_id" [(ngModel)]="formData.correlative_id" required class="form-select">
                <option value="" disabled selected>Asocie un diagnóstico a la receta</option>
                <option *ngFor="let diagnostic of diagnosticos" [value]="diagnostic.correlative_id">{{diagnostic.Detected_disease}} 
                    {{diagnostic.date_created}}
                </option>
            </select>
        </div>
        <div class="col-md-12">
            <label class="form-label" for="colegiado">INGRESE LA DOSIS A RECETAR</label>
            <input [(ngModel)]="formData.dose" required class="form-control" type="text" id="colegiado" 
            name="colegiado" placeholder="Ingrese el detalle de la dosis de la medicina recetada">
        </div>
        <div class="col-md-8">
            <label class="form-label" for="medicina">SELECCIONE LA MEDICINA</label>
            <select id="medicina" name="medicine_id" [(ngModel)]="formData2.medicine_id" required class="form-select">
                <option value="" disabled selected>Selecciona una medicina existente</option>
                <option *ngFor="let medicina of medicinas" [value]="medicina.medicine_id">{{medicina.comercial_name}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" [routerLink]="['/consultas']">CANCELAR</button>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">CREAR PERFIL</button>
        </div>
    </form>
</app-modal>