<!-- <p>medicos works!</p> -->
<div  class="table-container">
<div class="botones-tabla">
  <app-button></app-button>
    <button [routerLink]="['/medicos/personal-create']" class="btn btn-primary">Agregar un Médico</button>
</div>
<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>NÚMERO COLEGIADO</th>
        <th>NO. IDENTIFICACIÓN</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>TELÉFONO</th>
        <th>EMAIL</th>
        <th>ESPECIALIZACIÓN</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medico of medicos, let i = index">
            <td>{{i + 1}}</td>
            <!-- <td>{{ medico.personal_id }}</td> -->
            <td>{{ medico.member_number }}</td>
            <td>{{ medico.identification }}</td>
            <td>{{ medico.name }}</td>
            <td>{{ medico.lastame }}</td>
            <td>{{ medico.phone }}</td>
            <td>{{ medico.email }}</td>
            <td>{{ medico.specialization_id.name }}</td>
            <td>
              <button class="btn btn-primary" (click)="onEditMedico(medico.personal_id)">Editar</button>
              <button class="btn btn-primary">Ver</button>
            </td>
          </tr>
    </tbody>
  </table>
</div>
</div>