.botones-tabla{
    display: flex;
    justify-content:flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

button{
  min-width: 5rem;
  text-align:center;
  margin: 0.3em;
  border: 0;
  background-color: #2471A3;
  padding: 0.5rem 0.75rem;
  color: #FFF;
  cursor: pointer;
  transition: background-color 250ms linear;
  &:hover{
      background-color: #85C1E9 ;
  }
  &:focus,
  &:focus-visible{
      outline: 0;
  }
}
  

.table-container {
    margin: 25px 50px 25px 50px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  /* Ajusta el ancho de las columnas automáticamente al contenido */
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 4rem 3rem 5rem 3rem;
    justify-content: center;
  }
  
  .item {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.07);
    transition: transform 0.4s ease;
    width: 300px;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;  
    &:hover {
      background-color: #F2F3F4;
      transform: scale(1.05);
    }
  }