.container-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em 5rem 2rem 5rem;

    .create {
        padding: 2rem 4rem;
        background: #ffffff95;
        border-radius: 0.5rem;
        border: 1px solid #d3d3d3;
        box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
        text-align: left;
        width: 70rem;
    }
}