<!-- <p>medicinas works!</p> -->
<div  class="table-container">
  <div class="botones-tabla">
      <button [routerLink]="['/medicos/personal-create']" class="btn btn-primary">Agregar una Medicina</button>
  </div>
  <div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>NOMBRE COMERCIAL</th>
        <th>NOMBRE CIENTÍFICO</th>
        <th>RECOMENDACIONES</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicina of medicinas, let i = index">
            <td>{{i+1}}</td>
            <td>{{ medicina.commercial_name }}</td>
            <td>{{ medicina.scientific_name }}</td>
            <td>{{ medicina.description }}</td>
            <td>
              <button class="btn btn-primary">Editar</button>
              <button class="btn btn-primary">Ver</button>
            </td>
          </tr>
    </tbody>
  </table>
</div>
</div>