<!-- <p>pacientes works!</p> -->
<div  class="table-container">
  <div class="botones-tabla">
      <button [routerLink]="['/pacientes/pacientes-crear']" class="btn btn-primary">Agregar un Paciente</button>
  </div>
<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>NÚMERO IDENTIFICACIÓN</th>
        <th>NOMBRE</th>
        <th>SEGUNDO NOMBRE</th>
        <th>APELLIDO</th>
        <th>SEGUNDO APELLIDO</th>
        <th>FECHA NACIMIENTO</th>
        <th>DIRECCIÓN</th>
        <th>TELÉFONO</th>
        <th>EMAIL</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes, let i = index">
            <td>{{i+1}}</td>
            <!-- <td>{{ paciente.patient_id }}</td> -->
            <td>{{ paciente.identification }}</td>
            <td>{{ paciente.first_name }}</td>
            <td>{{ paciente.second_name }}</td>
            <td>{{ paciente.lastame }}</td>
            <td>{{ paciente.second_lastame }}</td>
            <td>{{ paciente.dof }}</td>
            <td>{{ paciente.address }}</td>
            <td>{{ paciente.phone }}</td>
            <td>{{ paciente.email }}</td>
            <td>
              <button class="btn btn-primary" (click)="onEditMedico(paciente.patient_id)">Editar</button>
              <button class="btn btn-primary">Ver</button>
            </td>
          </tr>
    </tbody>
  </table>
</div>
</div>