.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 4rem 3rem 5rem 3rem;
    justify-content: center;
  }
  
  .item {
    width: 300px;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 250ms linear;
  
    &:hover {
      background-color: #2471A3;
    }
  }
  