<!-- <p>summary works!</p> -->
<div class="menu">
    <div class="item" [routerLink]="['/medicos']">Personal Médico</div>
    <div class="item" [routerLink]="['/especializaciones']">Especializaciones Médica</div>
    <div class="item" [routerLink]="['/pacientes']">Pacientes Médicos</div>
    <div class="item">Crear Consulta</div>
    <div class="item">Ver Historiales Médicos</div>
    <div class="item" [routerLink]="['/medicinas']">Medicinas</div>
    <div class="item" [routerLink]="['/roles']">Mantenimiento de Roles</div>
    <div class="item" [routerLink]="['/usuarios']">Mantenimiento de usuarios</div>
    <div class="item" [routerLink]="['/']">Reportes</div>
  </div>  