<app-dashboard></app-dashboard><!-- borrar cuando solucione el tema del login -->
<p>summary works!</p>
<div class="menu">
    <div class="item">Personal Médico</div>
    <div class="item">Crear Especialización Médica</div>
    <div class="item">Crear Pacientes Médicos</div>
    <div class="item">Crear Consulta</div>
    <div class="item">Ver Historiales Médicos</div>
    <div class="item">Crear Medicinas</div>
    <div class="item">Mantenimiento de Roles</div>
    <div class="item">Mantenimiento de usuarios</div>
  </div>  