<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" >Cargando...</p></ngx-spinner> -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="header">
    <img src="./assets/images/logo.png" alt="Logo" width="100" routerLink="/home">
        <ul>
            <!-- <li><a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i> <span>IR A INICIO</span></a></li> -->
        </ul>
    <label>Gestión y Administración de Información Médica "Hope & Help"</label>
    <button type="button" class="button" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Salir</span></button>
</div>
<main>
    <ng-content></ng-content>
</main>
